$body-bg: #e8e8e8;

$primary: #6750A4;
$secondary: #625B71;
$teriary: #7D5260;
$error: #B3261E;
$outline: #ccc;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "teriary": $teriary,
  "error": $error,
  "outline": $outline,
);
